---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  <header class="site-masthead">
    {% include menu.html %}
    {% if site.title %}
      <h1>
        {{ site.title }}
      </h1>
    {% endif %}
    {% if site.title %}
      <h2>
        {{ site.description }}
      </h2>
    {% endif %}
  </header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content">

The most likely date is now August 21, 2021, almost exactly a year after the date you received on your save-the-date.
<br><br>
We are so excited to see you, but would rather have a full-tilt blowout in a year where we get to hug and dance and share dessert, than a scary, distanced ordeal at which we might kill one of the people we love the most (you).
<br><br>
Plus we waited ten years to get engaged and then another year because of Maria so it’s pretty on-brand to postpone it again because of a global pandemic.
<br><br>
Please stay safe and send us pictures of your pets!
<br><br>
JDS + SKD
<br><br>

{% comment %}

  <h1 class="content-title divided">
    {% if site.paginate and site.paginate_path and paginator.page > 1 %}
      Page {{ paginator.page }}
    {% else %}
     Updates 
    {% endif %}
  </h1>

  {% if site.paginate and site.paginate_path %}
    
    <ul class="post-list">
      {% for post in paginator.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>

    {% if paginator.total_pages > 1 %}

      <div class="post-pagination">
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl  }}" class="pagination-next btn">&lang;&nbsp;Older</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
        <span class="pagination-number">{{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="pagination-previous btn">Newer&nbsp;&rang;</a>
        {% else %}
          <span>&nbsp;</span>
        {% endif %}
      </div>

    {% endif %}

  {% else %}

    <ul class="post-list">
      {% for post in site.posts %}
        {% include post-list-item.html %}
      {% endfor %}
    </ul>
  
  {% endif %}

{% endcomment %}    

</main>
